<md-content flex layout="column">
    <md-toolbar class="search-bar">
        <div class="md-toolbar-tools" layout="row">
            About
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-content flex class="md-padding">
        <h2>Data Source</h2>
        The data provided by this page is parsed from the <i><b>default server config</b></i>.
        We can not guarantee this information is correct in all cases.
        We can only guess BitMonster is hosting the official servers with the same config they are providing for us.
        <h2>Translations</h2>
        At the moment we are translating all the not so well readable class-names into the ingame names. They might not be correct allways.<br/>
        There is a feature planned / wip for localisation.
        <h2>Suggestions and Issues</h2>
        Create an issue <a href="https://github.com/Bombshock/grav-loot/issues" target="_blank">here</a>.
        <h2>Contributing</h2>
        Feel free to make pull-requests. How to develop this site is described <a href="https://github.com/Bombshock/grav-loot" target="_blank">here</a>.
        <h2>Contributors</h2>
        <ul>
            <li><a href="http://steamcommunity.com/profiles/76561197985144693" target="_blank">Plasmatic</a> (<a href="https://github.com/Bombshock" target="_blank">Developer</a>)</li>
            <li>DonSpike</li>
        </ul>
    </md-content>
</md-content>