<md-content flex layout="column" ng-init="$root.searchTextBPsOffset = $root.searchTextBPsOffset || 0;">
    <md-toolbar class="search-bar">
        <div class="md-toolbar-tools" layout="row">
            <md-input-container md-no-float="true" flex style="margin: 30px 18px 0; color: #FFF;">
                <input placeholder="Search here" ng-model="$root.searchTextBPs">
            </md-input-container>
            <md-button class="md-icon-button" aria-label="reset search" ng-click="$root.searchTextBPs = ''">
                <md-icon class="fa fa-times"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-divider></md-divider>

    <md-content flex ng-show="vm.lootTables.data" layout="row">

        <md-virtual-repeat-container id="vertical-container" flex>
            <md-list>
                <md-list-item class="md-3-line blueprint-list-item"
                              md-virtual-repeat="item in vm.lootTables.lootsArray | filter:$root.searchTextBPs | orderBy:'__key'"
                              md-item-size="88"
                              ng-click="vm.viewDetails(item)">
                    <div class="md-list-item-text" layout="row">
                        <h3>{{ item.__key }}</h3>
                    </div>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
        </md-virtual-repeat-container>

    </md-content>

    <md-content class="md-padding" layout="column" layout-align="center center" flex ng-show="!vm.lootTables.data">
        <div layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-circular md-mode="indeterminate" md-diameter="150"></md-progress-circular>
        </div>
    </md-content>
</md-content>