<md-content flex layout="column" ng-show="vm.item">
    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <h2>{{vm.item.name}} ({{vm.item.type}})</h2>
        </div>
    </md-toolbar>

    <md-divider></md-divider>

    <md-tabs md-border-bottom flex layout="column" md-selected="vm.selectedTab">
        <md-tab label="{{size.size}} ({{size.lootCounter}})" flex layout="column" ng-repeat="size in vm.item.sizes">
            <md-content id="editor" flex layout="column">

                <md-list>
                    <md-list-item class="md-3-line blueprint-list-item" ng-repeat="(key, value) in size.loot">
                        <div class="md-list-item-text" layout="column">
                            <h3>{{ $root.translate(key) }}</h3>
                        </div>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>
                </md-list>

            </md-content>
        </md-tab>
    </md-tabs>

</md-content>
<md-content class="md-padding" layout="column" layout-align="center center" flex ng-show="!vm.item">
    <div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate" md-diameter="150"></md-progress-circular>
    </div>
</md-content>