<md-content flex layout="column">
    <md-toolbar class="search-bar">
        <div class="md-toolbar-tools" layout="row">
            <md-input-container md-no-float="true" flex style="margin: 30px 18px 0; color: #FFF;">
                <input placeholder="Search here" ng-model="$root.searchTextMobs">
            </md-input-container>
            <md-button class="md-icon-button" aria-label="reset search" ng-click="$root.searchTextMobs = ''">
                <md-icon class="fa fa-times"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-divider></md-divider>

    <md-content flex ng-show="vm.lootTables.mobsGroupedArray.length">
        <md-list>
            <md-list-item class="md-3-line blueprint-list-item"
                    ng-repeat-start="mobGroup in vm.lootTables.mobsGroupedArray | filter:$root.searchTextMobs | orderBy:['name', 'type']"
                    ng-click="vm.goToMob(mobGroup)"
                    ng-href="#/mobs/{{mobGroup.$parent}}">
                <div class="md-list-item-text" layout="column">
                    <h3>{{ mobGroup.name }}</h3>
                    <h4>{{ mobGroup.type }}</h4>
                    <p>{{ vm.genSizes(mobGroup) }}</p>
                </div>
            </md-list-item>
            <md-divider ng-repeat-end ng-if="!$last"></md-divider>
        </md-list>
    </md-content>

    <md-content class="md-padding" layout="column" layout-align="center center" flex
            ng-show="!vm.lootTables.mobsGroupedArray.length">
        <div layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-circular md-mode="indeterminate" md-diameter="150"></md-progress-circular>
        </div>
    </md-content>
</md-content>